<div th:fragment="header">
    <header id="header">
        <!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row" style="background: gainsboro">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="#"><img th:src="@{/images/logo.png}" width="45px" height="45px"
                                                      alt=""/></a>
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav nav-pills">
                                <li th:if="${authentication == null}"><a th:href="@{/register}"><i
                                        class="fa fa-user"></i>
                                    Đăng kí</a></li>
                                <li th:if="${authentication == null}"><a th:href="@{/login}"><i class="fa fa-user"></i>
                                    Đăng nhập</a></li>

                                <li><a th:href="@{/cart/view}"><i class="fa fa-shopping-cart"></i>
                                    Cart</a></li>
                                <li th:if="${authentication != null && authentication != 'anonymousUser'}" class="dropdown" style="padding: 10px">

                                    <i class="fa fa-user" data-toggle="dropdown"><span th:text="${authentication}">
									</span>
                                        <span class="caret"></span>
                                    </i>

                                    <ul class="dropdown-menu">
                                        <li><a href="" th:href="@{/admin}">Quản lý</a></li>
										<li><a href="" th:href="@{/resetPass}">Đổi mật khẩu</a></li>
                                    </ul>


                                </li>

                                <li th:if="${authentication != null && authentication != 'anonymousUser' }"><a th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a th:href="@{/home}" class="active">Trang Chủ</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Danh mục sản
                                        phẩm</a>
                                    <div class="dropdown-menu">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Ardunio- vi điều kiển</li>
                                            <li class="list-group-item">Cảm biến</li>
                                            <li class="list-group-item">IC- chức năng</li>
                                            <li class="list-group-item">Dụng cụ - phụ kiện</li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="">Mã giảm giá</a></li>
                                <li><a href="">Bảo hành</a></li>
                                <li><a href="">Thiết kế mạch</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-bottom-->
    </header>
    <!--/header-->
</div>
