<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../Frontend/css/test.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!--    <link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link th:href="@{/Frontend/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Tables plugin -->
    <!--    <link href="/css/datatables.min.css" rel="stylesheet">-->
    <link th:href="@{/Frontend/css/datatables.min.css}" rel="stylesheet">
    <!-- Bootstrap tagsinput -->
    <link th:href="@{/Frontend/css/tagsinput.css}" rel="stylesheet">
    <!-- Simple pagination -->
    <!--    <link href="/css/simplePagination.css" rel="stylesheet" />-->
    <link th:href="@{/Frontend/css/simplePagination.css}" rel="stylesheet">
    <!-- Slick carousel -->
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet"/>
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" rel="stylesheet"/>
    <!-- Custom styles -->
    <!--    <link href="/css/style.css" rel="stylesheet">-->
    <link th:href="@{/Frontend/css/style.css}" rel="stylesheet">
    <!-- Feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <h2 class="card-title text-center">Register</h2>
                <div class="card-body py-md-4">
                    <form _lpchecked="1" th:action="@{/register}" th:object="${account}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" th:field="*{username}" placeholder="Username">
                            <span th:text="${errusername}" style="color: red"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                            <span th:text="${erremail}" style="color: red"></span>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="phone" th:field="*{phone}" placeholder="Phone number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirm-password" th:field="*{rePassword}" placeholder="Confirm password">
                            <span th:text="${errorpassword}" style="color: red"></span>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <a th:href="@{/login}">Đăng nhập</a>
                            <button class="btn btn-primary">Tạo tài khoản</button>
                        </div>
                        <span th:text="${status}" style="color: red"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>